{{!-- We take a single 'post' object and pass it to the homepage.handlebars template
    Each property on the object, (post_id, id, title, etc) become available
    using the Handlebars.js {{}} syntax --}}

<ol class="post-list">
    {{!-- any HTML code in between the #post will be repeated for every item in posts --}}
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>